
    {% if product.title contains 'SKINNY' && product.title contains 'ombre' %}
        {% for product in collection.products %}
		{% if product.title contains 'SKINNY' && product.title contains 'ombre' %}
                <div class="art_clr">
                </div>
		{% endif %}
        {% endfor %}
	{% elsif product.title contains 'SKINNY' %}
		{% for product in collection.products %}
			{% if product.title contains 'ombre' %}
 			{% elsif product.title contains 'SKINNY' %}
                <div class="art_clr">
                </div>
			{% endif %}
        {% endfor %}
	{% endif %}

	{% if product.title contains 'ENSO BATIK' %}
        {% for product in collection.products %}
 			{% if product.title contains 'ENSO BATIK' %}
               <div class="art_clr">
                </div>
			{% endif %}
        {% endfor %}
	{% elsif product.title contains 'ENSO' %}
		{% for product in collection.products %}
 			{% if product.title contains 'ENSO BATIK' %}
			{% elsif product.title contains 'ENSO' %}
                <div class="art_clr">
                </div>
			{% endif %}
        {% endfor %}
	{% endif %}

	{% if product.title contains 'HAIR TIES' %}
        {% for product in collection.products %}
 			{% if product.title contains 'HAIR TIES' %}
               <div class="art_clr">
                </div>
			{% endif %}
        {% endfor %}
	{% endif %}

	{% if product.title contains 'TIE HEADBAND' %}
        {% for product in collection.products %}
 			{% if product.title contains 'TIE HEADBAND' %}
               <div class="art_clr">
                </div>
			{% endif %}
        {% endfor %}
	{% endif %}

  {% if product.title contains 'SHAWL' %}
        {% for product in collection.products %}
 			{% if product.title contains 'SHAWL' %}
               <div class="art_clr">
                </div>
			{% endif %}
        {% endfor %}
	{% elsif product.title contains 'JOURNEY' %}
		{% for product in collection.products %}
			{% if product.title contains 'JOURNEY' %}
                <div class="art_clr">
                </div>
			{% endif %}
        {% endfor %}
	{% endif %}
	{% if product.title contains 'KIDS' %}
        {% for product in collection.products %}
 			{% if product.title contains 'KIDS' %}
               <div class="art_clr">
                </div>
			{% endif %}
        {% endfor %}
	{% endif %}
