{% comment %} If using custom options, you may add your options here {% endcomment %}
<p>
    <label for="initials">Initials:</label> <input name="initials" type="text" placeholder="E.g: WJB" />    
</p>