<div class="tweetwidget widget{% if template == 'index' %} one-third column{% endif %}" data-username="{{ data }}">
	<a href="http://twitter.com/{{ data }}" target="_blank"><h6>Latest Tweets</h6></a>
    <a class="twitter-timeline"  href="https://twitter.com/kooshoo" data-widget-id="510090152920633344"> @kooshoo</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          
</div>
